/* .container {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
}

.demo_section {
  margin-top: 37px;
}

.demo_section h2 {
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: var(--theme-color);
  text-align: center;
  font-size: 45px;
  font-family: "Roboto", sans-serif;
}

.demo_section p {
  font-size: 20px;
  text-align: center;
  color: var(--primary-color);
  margin-top: 15px;
  font-family: "Roboto", sans-serif;
}

.demo_img {
  background-color: #ffffff00;
}

.demo_img2 img {
  background-color: #ffffff00;
  margin-bottom: -4px;
  width: 81%;
  margin: 52px 0px 0px 57px;
}

.demo_img img {
  width: 48%;
  margin: 44px auto 0px;
  display: block;
  background-color: #ffffff00;
}

.demo_img2 {
  width: 103%;
  margin-bottom: 5px;
  background-color: #f0f8ff00;
}

.demo_info {
  width: 95%;
  border: 1px solid #ffffff17;
  border-radius: 15px;
  background-color: #ffffff0a;
}

.demo {
  display: grid;
  grid-template-columns: 50% 50%;
  gap: 30px;
}

.demo_wrapper {
  margin-top: 115px;
  margin-bottom: 115px;
}

.demo_btn {
  margin-left: auto;
  margin-right: auto;
  max-width: 25%;
  background-color: #ffffff00;
}

.demo_btn h3 {
  color: var(--primary-color);
  border: 1px solid #ffffff00;
  text-align: center;
  margin-top: 45px;
  margin-bottom: 77px;
  background-color: #ffffff30;
  padding: 10px;
  border-radius: 76px;
}

.demo_btn a {
  background-color: #ffffff00;
  background-color: #ffffff00;
  color: white;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 100;
}

.banner_demo {
  margin-top: 67px;
  width: 100%;
}


@media (max-width: 500px) {
  .demo_wrapper {
    padding: 20px;
  }
  .demo {
    display: block;
  }
  .demo_info {
    width: 100%;
  }
  .demo_btn {
    margin-left: auto;
    margin-right: auto;
    max-width: 40%;
  }
  .demo_btn h3 {
    font-size: 14px;
    padding: 5px;
  }
  .demo_wrapper {
    margin-top: 57px;
    margin-bottom: 33px;
  }
  .demo_img2 img {
    margin: 50px 0px 0px 24px;
  }
  .banner_demo {
    width: 100%;
    margin-top: 84px !important;
  }
  .demo_section {
    margin-top: 37px;
  }
}

@media (max-width: 768px) {
  .demo {
    display: block;
  }
  .demo_wrapper {
    max-width: 93%;
    margin-right: auto;
    margin-left: auto;
  }
  .demo_info {
    width: 100%;
  }
  .banner_demo {
    width: 100%;
    margin-top: 187px;
  }
  .demo_section {
    margin-top: 57px;
  }

}

@media(min-width:1600px){
  .demo_section{
   max-width: 1400px;
   margin-left: auto;
   margin-right: auto;
  } 
  .demo{
   max-width: 1400px;
   margin-left: auto;
   margin-right: auto;
  }
}  */

/* model customization */

body {
  --progress-bar-color: transparent;
}

.custom-camera-controls {
  cursor: grab !important;
}

.custom-camera-controls[interaction-prompt] {
  cursor: grab !important;
}

.banner_demo {
  margin-top: 67px;
  width: 100%;
}

.demo_section {
  margin-top: 37px;
}

.demo_section h2 {
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: var(--theme-color);
  text-align: center;
  font-size: 45px;
  font-family: "Roboto", sans-serif;
}

.demo_section p {
  font-size: 20px;
  text-align: center;
  color: var(--primary-color);
  margin-top: 15px;
  font-family: "Roboto", sans-serif;
}

.slider_container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 75vh;
  max-width: 69%;
  margin-left: auto;
  margin-right: auto;
  gap: 138px;
}

.buttons {
  display: grid;
  /* justify-content: center;
  margin-top: 20px; */
}

.buttons button {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 84px;
  height: 82px;
  margin: 10px;
  cursor: pointer;
  border-radius: 52px;
}

#viewer {
  width: 100%;
  height: 85%;
  margin-top: 1px;
}

#viewer2 {
  width: 100%;
  height: 78%;
  margin-top: 70px;
}

#viewer3 {
  width: 100%;
  height: 100%;
}

#viewer4 {
  width: 100%;
  height: 98%;
  margin-top: -32px;
}

#viewer5 {
  width: 100%;
  height: 98%;
  margin-top: -32px;
}

#viewer6 {
  width: 100%;
  height: 87%;
  margin-top: 9px;
}

#viewer7{
  width: 100%;
  height: 90%;
}

.threeD {
  display: grid;
  grid-template-columns: 50% 50%;
  margin-top: 130px !important;
  height: 100%;
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #ffffff14;
  border-radius: 33px;
  background-color: #ffffff0a;
  margin-bottom: 100px;
}

.threed_content {
  margin-top: 13%;
  margin-bottom: 95px;
}

.threed_content h3 {
  color: white;
  font-size: 45px;
  margin-bottom: 23px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  font-family: "Roboto", sans-serif;
}

.threed_content p {
  color: white;
  font-size: 23px;
  line-height: 1.5;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  font-family: "Roboto", sans-serif;
}

.threed_content7 {
  margin-top: 13%;
  margin-bottom: 95px;
}

.threed_content7 h3 {
  color: white;
  font-size: 45px;
  margin-bottom: 23px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  font-family: "Roboto", sans-serif;
}

.threed_content7 p {
  color: white;
  font-size: 23px;
  line-height: 1.5;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  font-family: "Roboto", sans-serif;
}


.threed_content2 {
  margin-top: 107px;
  margin-bottom: 104px;
}

.threed_content2 p {
  max-width: 78%;
  margin-left: auto;
  margin-right: auto;
  color: white;
  font-size: 23px;
  line-height: 1.5;
  font-family: "Roboto", sans-serif;
}

.threed_content2 h3 {
  color: white;
  font-size: 43px;
  margin-bottom: 23px;
  max-width: 78%;
  margin-left: auto;
  margin-right: auto;
  font-family: "Roboto", sans-serif;
}

.controls {
  position: relative;
}

.btn_r {
  padding: 16px;
  position: absolute;
  top: -27px;
  left: 20px;
  width: 5%;
  height: 5%;
  border-radius: 50px;
  background-color: #ffc300;
  border: none;
  cursor: pointer;
}

.btn_g {
  position: absolute;
  padding: 16px;
  left: 64px;
  bottom: -6px;
  width: 5%;
  height: 5%;
  border-radius: 50px;
  background-color: rgb(191, 181, 255);
  border: none;
  cursor: pointer;
}

.btn_b {
  position: absolute;
  padding: 16px;
  left: 111px;
  bottom: -6px;
  width: 5%;
  height: 5%;
  border-radius: 50px;
  background-color: rgb(184, 241, 190);
  border: none;
  cursor: pointer;
}

.controls_ring {
  position: relative;
}

.btn_ring1 {
  padding: 16px;
  position: absolute;
  top: -27px;
  /* left: 71%; */
  width: 5%;
  height: 5%;
  border-radius: 50px;
  background-color: #b44a00;
  border: none;
  cursor: pointer;
}

.btn_ring2 {
  position: absolute;
  padding: 16px;
  left: 6%;
  bottom: -5px;
  width: 5%;
  height: 5%;
  border-radius: 50px;
  background-color: #d4af37;
  border: none;
  cursor: pointer;
}

.btn_ring3 {
  position: absolute;
  padding: 16px;
  left: 12%;
  bottom: -6px;
  width: 5%;
  height: 5%;
  border-radius: 50px;
  background-color: #b76e79;
  border: none;
  cursor: pointer;
}

.controls_chair {
  position: relative;
}

.btn_chair1 {
  padding: 16px;
  position: absolute;
  top: -53px;
  left: 5%;
  width: 5%;
  height: 5%;
  border-radius: 50px;
  background-color: #704605;
  border: none;
  cursor: pointer;
}

.btn_chair2 {
  position: absolute;
  padding: 16px;
  left: 11%;
  bottom: 20px;
  width: 5%;
  height: 5%;
  border-radius: 50px;
  background-color: #c0c0c0;
  border: none;
  cursor: pointer;
}

.btn_chair3 {
  position: absolute;
  padding: 16px;
  left: 17%;
  bottom: 19px;
  width: 5%;
  height: 5%;
  border-radius: 50px;
  background-color: #cfb53b;
  border: none;
  cursor: pointer;
}

/* texture */

.sofa_texture {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: -9px;
  color: white;
  line-height: 28px;
}

/* SofaViewer.css */

/* ... your existing styles ... */

.slider_container {
  display: flow-root;
}

.slider-input {
  width: 200px;
  /* Remove the default blue color and customize the appearance */
  appearance: none;
  background: rgba(
    255,
    255,
    255,
    0.586
  ); /* Background color of the progress bar track */
  height: 8px; /* Set the height of the progress bar */
  border-radius: 4px; /* Rounded corners */
  outline: none; /* Remove the default focus outline */
}

/* Style the thumb (slider knob) */
.slider-input::-webkit-slider-thumb {
  appearance: none;
  width: 16px;
  height: 16px;
  background: white; /* Color of the slider thumb */
  border-radius: 50%; /* Circular thumb shape */
  cursor: pointer;
}

/* Style the thumb (slider knob) for Mozilla Firefox */
.slider-input::-moz-range-thumb {
  width: 16px;
  height: 16px;
  background: white; /* Color of the slider thumb */
  border: none;
  border-radius: 50%; /* Circular thumb shape */
  cursor: pointer;
}

.btn_table1 {
  padding: 16px;
  position: absolute;
  top: -27px;
  left: 20px;
  width: 5%;
  height: 5%;
  border-radius: 50px;
  background-color: white;
  border: none;
  cursor: pointer;
}

.btn_table2 {
  position: absolute;
  padding: 16px;
  left: 65px;
  bottom: -6px;
  width: 5%;
  height: 5%;
  border-radius: 50px;
  background-color: black;
  border: none;
  cursor: pointer;
}

.btn_table3 {
  position: absolute;
  padding: 16px;
  left: 108px;
  bottom: -5px;
  width: 5%;
  height: 5%;
  border-radius: 50px;
  background-color: brown;
  border: none;
  cursor: pointer;
}

.btn_car1 {
  padding: 16px;
  position: absolute;
  top: -27px;
  left: 20px;
  width: 5%;
  height: 5%;
  border-radius: 50px;
  background-color: red;
  border: none;
  cursor: pointer;
}

.btn_car2 {
  position: absolute;
  padding: 16px;
  left: 60px;
  bottom: -5px;
  width: 5%;
  height: 5%;
  border-radius: 50px;
  background-color: #023e8a;
  border: none;
  cursor: pointer;
}

.btn_car3 {
  border: 1px solid #80808069;
  position: absolute;
  padding: 17px;
  left: 103px;
  bottom: -6px;
  width: 5%;
  height: 5%;
  border-radius: 50px;
  background-color: black;
  cursor: pointer;
}

.btn_iphone1 {
  padding: 16px;
  position: absolute;
  top: -27px;
  left: 20px;
  width: 5%;
  height: 5%;
  border-radius: 50px;
  background-color: #ffdd43;
  border: none;
  cursor: pointer;
}

.btn_iphone2 {
  position: absolute;
  padding: 16px;
  left: 66px;
  bottom: -6px;
  width: 5%;
  height: 5%;
  border-radius: 50px;
  background-color: #c0c0c0;
  border: none;
  cursor: pointer;
}

.btn_iphone3 {
  position: absolute;
  padding: 16px;
  left: 115px;
  bottom: -6px;
  width: 5%;
  height: 5%;
  border-radius: 50px;
  background-color: #cc9999;
  border: none;
  cursor: pointer;
}


.btn_glove1 {
  padding: 16px;
  position: absolute;
  top: -27px;
  left: 20px;
  width: 5%;
  height: 5%;
  border-radius: 50px;
  background-color: brown;
  border: none;
  cursor: pointer;
}

.btn_glove2 {
  position: absolute;
  padding: 16px;
  left: 66px;
  bottom: -6px;
  width: 5%;
  height: 5%;
  border-radius: 50px;
  background-color: #023047;
  border: none;
  cursor: pointer;
}

.btn_glove3 {
  position: absolute;
  padding: 16px;
  left: 115px;
  bottom: -6px;
  width: 5%;
  height: 5%;
  border-radius: 50px;
  background-color: #99582a;
  border: none;
  cursor: pointer;
}


.demo_readmore {
  margin-left: auto;
  max-width: 80%;
  margin-right: auto;
  margin-top: 30px;
}

.demo_readmore a{
  color: white;
  text-decoration: none;
}

.demo_readmore button {
  padding: 8px;
  border-radius: 10px;
  width: 20%;
  background-color: transparent;
  color: white;
  cursor: pointer;
}

.demo_readmore1 {
  margin-left: auto;
  max-width: 80%;
  margin-right: auto;
  margin-top: 30px;
}

.demo_readmore1 button {
  padding: 8px;
  border-radius: 10px;
  width: 20%;
  background-color: transparent;
  color: white;
  cursor: pointer;
}

.demo_readmore2 {
  margin-left: auto;
  max-width: 80%;
  margin-right: auto;
  margin-top: 30px;
}

.demo_readmore2 button {
  padding: 8px;
  border-radius: 10px;
  width: 20%;
  background-color: transparent;
  color: white;
  cursor: pointer;
}

.demo_readmore3 {
  margin-left: auto;
  max-width: 80%;
  margin-right: auto;
  margin-top: 30px;
}

.demo_readmore3 button {
  padding: 8px;
  border-radius: 10px;
  width: 20%;
  background-color: transparent;
  color: white;
  cursor: pointer;
}

.demo_readmore4 {
  margin-left: auto;
  max-width: 80%;
  margin-right: auto;
  margin-top: 30px;
}

.demo_readmore4 button {
  padding: 8px;
  border-radius: 10px;
  width: 20%;
  background-color: transparent;
  color: white;
  cursor: pointer;
}

.demo_readmore1 a{
  text-decoration: none;
  color: white;
}





@media (max-width: 500px) {
  body {
    --progress-bar-color: transparent;
  }
  #viewer5 {
    width: 100%;
    height: 98%;
    margin-top: 122px;
  }

  #viewer4 {
    width: 100%;
    height: 127%;
    margin-top: 115px;
  }
  .threed_content h3 {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  .banner_demo {
    width: 100%;
    margin-top: 84px !important;
  }
  .demo_section {
    margin-top: 37px;
  }
  .threeD {
    background-color: transparent;
    border: none;
    display: grid;
    grid-template-columns: none;
    grid-template-rows: 50% 50%;
    margin-top: -97px !important;
    margin-bottom: 236px;
  }
  #viewer {
    width: 100%;
    height: 147%;
    margin-top: -15px;
  }

  .threed_content {
    margin-top: 30%;
    padding: 20px;
    text-align: start;
  }
  .threed_content p {
    width: auto;
    font-size: 18px;
  }
  .threed_content h3 {
    font-size: 27px;
    margin-top: 28px;
}
  .threed_content2 {
    text-align: center;
    margin-top: 172px;
  }
  .threed_content2 h3 {
    margin-top: 30px;
    text-align: start;
    font-size: 27px;
    max-width: 87%;
    margin-left: auto;
    margin-right: auto;
  }
  .threed_content2 p {
    font-size: 18px;
    text-align: start;
    max-width: 87%;
    margin-left: auto;
    margin-right: auto;
  }
  #viewer2 {
    margin-top: 34px;
    margin-bottom: 26px;
    max-width: 55%;
    margin-left: auto;
    margin-right: auto;
    width: 83%;
    height: 78%;
  }

  #viewer7{
margin-top: 100px;
}

  #viewer3 {
    width: 100%;
    height: 100%;
    margin-top: 30%;
  }

  .threedring{
    margin-top: 134px;
  }

  .controls {
    margin-top: -6px;
  }

  .btn_ring1 {
    padding: 16px;
    position: absolute;
    top: -27px;
    left: 20px;
    width: 5%;
    height: 5%;
    border-radius: 50px;
    background-color: #b44a00;
    border: none;
  }
  .btn_ring2 {
    position: absolute;
    padding: 16px;
    left: 105px;
    bottom: -5px;
    width: 5%;
    height: 5%;
    border-radius: 50px;
    background-color: #d4af37;
    border: none;
  }
  .btn_ring3 {
    position: absolute;
    padding: 16px;
    left: 62px;
    bottom: -5px;
    width: 5%;
    height: 5%;
    border-radius: 50px;
    background-color: #b76e79;
    border: none;
  }

  .btn_chair1 {
    padding: 16px;
    position: absolute;
    top: -11px;
    left: 20px;
    width: 5%;
    height: 5%;
    border-radius: 50px;
    background-color: #704605;
    border: none;
  }
  .btn_chair2 {
    position: absolute;
    padding: 16px;
    left: 106px;
    bottom: -21px;
    width: 5%;
    height: 5%;
    border-radius: 50px;
    background-color: #c0c0c0;
    border: none;
  }
  .btn_chair3 {
    position: absolute;
    padding: 16px;
    left: 62px;
    bottom: -21px;
    width: 5%;
    height: 5%;
    border-radius: 50px;
    background-color: #cfb53b;
    border: none;
  }
  .controls_chair {
    margin-top: 35px;
  }

  .btn_iphone1 {
    padding: 16px;
    position: absolute;
    top: 52px;
    left: 20px;
    width: 5%;
    height: 5%;
    border-radius: 50px;
    background-color: #FFDD43;
    border: none;
  }

  .btn_iphone2 {
    position: absolute;
    padding: 16px;
    left: 64px;
    bottom: -84px;
    width: 5%;
    height: 5%;
    border-radius: 50px;
    background-color: #c0c0c0;
    border: none;
  }

  .btn_iphone3 {
    position: absolute;
    padding: 16px;
    left: 111px;
    bottom: -85px;
    width: 5%;
    height: 5%;
    border-radius: 50px;
    background-color: #CC9999;
    border: none;
  }

  .btn_glove1 {
    padding: 16px;
    position: absolute;
    top: 52px;
    left: 20px;
    width: 5%;
    height: 5%;
    border-radius: 50px;
    background-color: brown;
    border: none;
  }

  .btn_glove2 {
    position: absolute;
    padding: 16px;
    left: 64px;
    bottom: -84px;
    width: 5%;
    height: 5%;
    border-radius: 50px;
    background-color: #023047;
    border: none;
  }

  .btn_glove3 {
    position: absolute;
    padding: 16px;
    left: 111px;
    bottom: -85px;
    width: 5%;
    height: 5%;
    border-radius: 50px;
    background-color: #99582a;
    border: none;
  }


  #viewer6 {
    width: 100%;
    height: 67%;
    margin-top: 189px;
  }
  .demo_readmore {
    text-align: initial;
    margin: 20px 0px 0px 20px;
    margin-top: 20px;
    }
  .demo_readmore button{
    width: 40%;
  }
  .demo_readmore1 {
    text-align: initial;
    margin: 20px 0px 0px 0px;
    margin-top: 20px;
    }
    .demo_readmore1 button{
      width: 40%;
    }
  
    .demo_readmore2 {
      text-align: initial;
      margin: 20px 0px 0px 0px;
      margin-top: 20px;
      }

      .demo_readmore2 button{
        width: 40%;
      }
    
      .demo_readmore3 {
        text-align: initial;
        margin: 20px 0px 0px 0px;
        margin-top: 20px;
        }
  
        .demo_readmore3 button{
          width: 40%;
        }
  
        .demo_readmore4 {
          text-align: initial;
          margin: 20px 0px 0px 0px;
          margin-top: 20px;
          }
    
          .demo_readmore4 button{
            width: 40%;
            margin: 0px 0px 0px 23px;
          }

          .threed_content7 h3 {
            width: 90%;
            margin-left: auto;
            margin-right: auto;
            font-size: 27px;
          }
          .threed_content7 p{
           font-size: 18px;
           width: 90%;
           margin-left: auto;
           margin-right: auto;
          }
  
          .demo_section p{
            margin-bottom: 84px;
          }

}



@media(min-width:441px) and (max-width:768px){
.threeD{
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}
.demo_readmore1 button {
  width: 42%;
}
.demo_readmore button {
  width: 40%;
}
.demo_readmore2 button {
  width: 40%;
}
.demo_readmore3 button {
  width: 40%;
}
.demo_readmore4 button {
  width: 40%;
}

.btn_ring2{
  left: 12%;
}

.btn_ring3{
  left: 25%;
  bottom: -5px;
}

.btn_chair2{
  left: 17%;
}

.btn_chair3{    
  left: 29%;
  bottom: 20px;
}
}

@media (max-width: 768px) {
  .banner_demo {
    width: 100%;
    margin-top: 187px;
  }
  .demo_section {
    margin-top: 57px;
  }
}

@media (min-width: 1600px) {
  .demo_section {
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
  }
  .demo {
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
  }
}

/* @media (max-width: 925px) {
  .slider_container {
    max-width: 69%;
    margin-left: auto;
    margin-right: auto;
  }
} */


@media(min-width:782px) and (max-width:1253px){
  .btn_ring2 {
    position: absolute;
    padding: 16px;
    left: 8%;
  }
  .btn_ring3 {
    position: absolute;
    padding: 16px;
    left: 16%;
  }
  .btn_chair2 {
    position: absolute;
    padding: 16px;
    left: 13%;
  }
  .btn_chair3 {
    position: absolute;
    padding: 16px;
    left: 21%;
  }
  .threed_content h3 {
    color: white;
    font-size: 37px;
}
#viewer2 {
  width: 100%;
  height: 58%;
  margin-top: 154px;
}
.threed_content2 h3 {
  color: white;
  font-size: 37px;
}
#viewer3 {
  width: 100%;
  height: 75%;
  margin-top: 69px;
}
.threed_content7 h3 {
  color: white;
  font-size: 37px;
}
#viewer7 {
  width: 100%;
  height: 72%;
  margin-top: 85px;
}
#viewer6 {
  width: 100%;
  height: 62%;
  margin-top: 94px;
}
}