.main_faq {
  margin-top: 125px;
}

.faq_heading {
  text-align: center;
  color: var( --primary-color);
  font-size: 35px;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: var( --theme-color);
  font-weight: 700;
}

.faq_content {
  color: var( --primary-color);
  max-width: 85%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 57px;
}

.faq_content summary {
  font-family: "Roboto", sans-serif;
  margin-bottom: 15px;
  background-color: transparent;
  color: #ffffffcf;
  cursor: pointer;
  font-size: 18px;
}

.faq_content p {
  font-family: "Roboto", sans-serif;
  margin-top: 25px;
  background-color: transparent;
  color: #8fc5ff;
  font-size: 17px;
  line-height: 1.3;
}

.faq_content details {
  margin-top: 40px;
  border: 1px solid #ffffff1a;
  padding: 36px;
  border-radius: 10px;
  background-color: #ffffff0f;
}

.faq_cta h4 {
  font-family: "Roboto", sans-serif;
  max-width: 57%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: 25px;
  font-weight: 500;
  line-height: 1.4;
  color: #ffffffdb;
}

.faq_cta h1 {
  font-family: "Roboto", sans-serif;
  text-align: center;
  margin-top: 115px;
  margin-bottom: 20px;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: var( --theme-color);
}

.faq_btn button {
  background-image: var( --theme-color);
  padding: 15px;
  border-radius: 10px;
  color: var( --primary-color);
  font-size: 17px;
  cursor: pointer;

}

.faq_btn {
  text-align: center;
  margin-bottom: 73px;
  margin-top: 25px;
}

@media (max-width: 500px) {
  .faq_content summary {
    font-size: 16px;
  }
  .faq_content details {
    padding: 20px;
  }

  .faq_content p {
    font-size: 14px;
  }
  .faq_cta h4 {
    max-width: fit-content;
    font-size: 21px;
    line-height: 1.3;
  }
  .faq_btn button {
    padding: 12px;
    font-size: 14px;
  }
  .faq_content {
    margin-top: 8px;
  }
}
