.bloginner1 {
  margin-top: 130px;
}

.inner1_banner {
  margin-left: auto;
  width: 95%;
  margin-right: auto;
}

.inner1_banner img {
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.inner1_main_head {
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
}

.inner1_main_head h2 {
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 40px;
  font-weight: 500;
  line-height: 54px; /* 135% */
  margin-top: 78px;
}

.inner1_main_head p {
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 45px; /* 225% */
  margin-top: 13px;
}

.inner1_sub_contents {
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
}

.inner1_sub_wrapper img {
  width: 100%;
  border-radius: 20px;
  margin-top: 155px;
}

.inner1_sub_wrapper h3 {
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 50px; /* 166.667% */
  margin-top: 20px;
}

.inner1_sub_wrapper p {
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 35px; /* 175% */
  margin-top: 17px;
}

.inner2_sub_wrapper img {
  width: 100%;
  border-radius: 20px;
  margin-top: 81px;
}

.inner2_sub_wrapper h3 {
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 50px; /* 166.667% */
  margin-top: 20px;
}

.inner2_sub_wrapper p {
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 35px; /* 175% */
  margin-top: 17px;
}

.inner1_bottom h4 {
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 35px; /* 116.667% */
  margin-top: 150px;
}

.inner1_bottom p {
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 35px; /* 175% */
  margin-top: 33px;
  margin-bottom: 50px;
}

@media (max-width: 500px) {
  .inner1_banner img {
    margin-top: -60px;
  }

  .inner1_main_head {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
  .inner1_main_head h2 {
    color: #fff;
    font-family: "Roboto", sans-serif;
    font-size: 30px;
    font-weight: 500;
    line-height: 40px;
    margin-top: 47px;
  }
  .inner1_main_head p {
    color: #fff;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 25px;
    margin-top: 13px;
  }
  .inner1_sub_wrapper img {
    width: 100%;
    padding: 5px;
    border-radius: 20px;
    margin-top: 80px;
  }
  .inner1_sub_contents {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
  .inner1_sub_wrapper h3 {
    font-size: 25px;
    line-height: 35px;
    margin-top: 6px;
  }
  .inner1_sub_wrapper p {
    font-size: 16px;
    line-height: 25px;
  }
  .inner2_sub_wrapper h3 {
    font-size: 25px;
    line-height: 35px;
  }
  .inner2_sub_wrapper p {
    font-size: 16px;
    line-height: 25px;
  }
  .inner1_bottom h4 {
    color: #fff;
    font-family: "Roboto", sans-serif;
    font-size: 27px;
    font-style: normal;
    font-weight: 700;
    line-height: 35px;
    margin-top: 94px;
  }
  .inner1_bottom p {
    color: #fff;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 25px;
    margin-top: 19px;
  }
}


@media(min-width:768px) and (max-width:820px){
  .header img {
    width: 100px;
    padding: 19px 14px 0px 3px;
}
}
@media(min-width:890px) {
  .header img {
    width: 210px;
    padding: 11px 14px 0px 44px;
}
}