body {
  overflow-x: hidden;
  background-color: var(--color-accent);
}

.container {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.content_info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 52px;
  flex: 0.9 1;
  color: var(--primary-color);
  background-color: #ffffff00;
}

.content_wrapper1 {
  /* display: flex; */
  /* justify-content: center; */
  align-items: center;
  margin-top: 70px;
  max-width: 1400px;
  margin-left: auto;
  overflow: initial;
  margin-right: auto;
  display: grid;
  grid-template-columns: 50% 50%;
  border: 1px solid #ffffff21;
  background-color: #ffffff08;
  padding: 47px;
  border-radius: 29px;
}

.content_info h3 {
  /* font-family: emoji; */
  /* font-family: 'Montserrat', sans-serif; */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 48px;
  background-image: var(--theme-color);
}

.content_info p {
  font-size: 27px;
  line-height: 1.5;
  width: 95%;
  font-weight: 100;
  margin-top: 28px;
  background-color: #ffffff00;
}

.content_wrapper1 img {
  width: 90%;
  background-color: #ffffff00;
}

.content_wrapper2 {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  margin-top: 125px;
  max-width: 1400px;
  margin-left: auto;
  overflow: initial;
  margin-right: auto;
  display: grid;
  grid-template-columns: 50% 50%;
  border: 1px solid #ffffff21;
  background-color: #ffffff08;
  border-radius: 29px;
  padding: 49px;
}

.content_wrapper2 img {
  width: 90%;
}

.content_wrapper3 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 125px;
  max-width: 1400px;
  margin-left: auto;
  overflow: initial;
  margin-right: auto;
  display: grid;
  grid-template-columns: 50% 50%;
  border: 1px solid #ffffff21;
  background-color: #ffffff08;
  border-radius: 29px;
  padding: 49px;
}

.content_wrapper3 img {
  width: 90%;
}

@media (max-width: 500px) {
  .content_wrapper1 {
    display: flex !important;
    flex-direction: column-reverse !important;
    padding: 0px;
  }
  .content_wrapper2 {
    display: block;
    padding: 0px;
  }
  .content_wrapper3 {
    display: flex !important;
    flex-direction: column-reverse !important;
    padding: 0px !important;
  }
  .content_info {
    padding: 10px;
    text-align: center;
  }
  .content_info p {
    font-size: 20px !important;
  }
  .content_wrapper1 img {
    width: 85%;
    padding: 20px;
  }
  .content_wrapper2 img {
    width: 85%;
  }
  .content_wrapper3 img {
    width: 85%;
    margin-bottom: 30px;
    margin-top: 1px;
  }
}

/* Why Us */

.whyus_info {
  padding: 91px;
  text-align: center;
  margin-bottom: 106px;
  margin-top: 115px;
}

.whyus_info h3 {
  margin-bottom: 33px;
  /* font-family: emoji; */
  /* font-family: 'Montserrat', sans-serif; */
  font-size: 37px;
  font-weight: 900;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 48px;
  background-image: var(--theme-color);
}

.whyus_info p {
  font-size: 25px;
  line-height: 1.5;
  margin-bottom: 55px;
  color: var(--primary-color);
}

.iframe {
  height: 572px;
  width: 83%;
}

/* CRA */

.content_cra {
  color: var(--primary-color);
  text-align: center;
  background-color: #f0f8ff0d;
  margin-bottom: 57px;
}

.content_cra img {
  width: 40% !important;
  padding: 40px;
  margin-top: 21px;
  background-color: transparent;
}

.cra_text {
  background-color: #ffffff00;
  font-size: 32px;
  margin-top: 40px;
  color: #ffffffbd;
  padding: 50px;
}

@media (max-width: 500px) {
  .whyus_info {
    padding: 0px;
  }
  .whyus_info p {
    padding: 20px;
    font-size: 22px;
  }
  .container {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  .content_info p {
    font-size: 17px;
    font-weight: 100;
    line-height: 1.5;
  }
  .content_info h3 {
    font-size: 37px;
  }
  .container h3 {
    padding: 0px;
    margin-top: 20px;
    font-size: 35px;
  }
  .iframe {
    overflow-y: hidden;
    overflow-x: hidden;
    height: 694px !important;
  }
  .content_wrapper2 {
    margin-top: 41px;
  }
  .content_wrapper3 {
    margin-top: 60px;
  }
  .cra_text {
    padding: 20px;
    font-size: 19px;
    margin-top: 30px;
    color: #ffffffeb;
  }
  .content_cra img {
    width: 85% !important;
    padding: 17px;
    margin-top: -10px;
  }
}

@media (max-width: 768px) {
  .content_wrapper1 {
    gap: 0px;
    margin-top: -32px;
    display: block;
    text-align: center;
  }
  .content_wrapper2 {
    gap: 0px;
    display: block;
    text-align: center;
  }
  .content_wrapper3 {
    gap: 0px;
    display: block;
    text-align: center;
  }
  .iframe {
    height: 743px;
  }
  .content_cra img {
    width: 85% !important;
  }
}










