/* .container{
    max-width: 85%;
    margin-left: auto;
    margin-right: auto;
} */

/* .banner{
    display: grid;
    grid-template-columns: 50% 50%;
    font-size: 31px;
    max-width: 93%;
    margin-left: auto;
    margin-right: auto;
}

.banner_info{
    padding: 20px;
    margin-top: 45px;
    margin-bottom: 85px;
}

.banner_info h1{
    font-size: 60px;
    font-family: initial;
}

.banner_info button{
    height: 10%;
    width: 28%;
    border-radius: 7px;
    font-size: 17px;
    background-color: cadetblue;
    color: aliceblue;
    cursor: pointer;
}

.banner_video {
    position: absolute;
    z-index: -1;
    inset: 0;
    width: 100%;
    user-select: none;
}

.banner__video video {
    user-select: none;
    pointer-events: none;
} */

/* body{
    margin: 0;
}

@keyframes scroll {
    0% {
        top: 25px;
    }

    50% {
        top: 5px;
    }

    100% {
        top: 25px;
    }
}

.banner {
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: 2;
}

@media (max-width: 500px) {
    .banner {
        background-position-x: 74%;
    }
}

.banner__wrapper {
    background-color: rgba(0, 0, 0, 0.7);
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.banner__video {
    position: absolute;
    z-index: -1;
    inset: 0;
    width: 100%;
    user-select: none;
}

.banner__video video {
    user-select: none;
    pointer-events: none;
}


@media (max-width: 840px) {
    .banner__wrapper {
        justify-content: space-evenly;
    }
}

.banner__logo {
    display: none;
    margin: 0 20px;
}

@media (max-width: 840px) {
    .banner__logo {
        display: block;
    }
}

.banner__wrapper-heading {
    font-weight: 700;
    width: 77%;
    font-size: 70px;
    text-align: center;
    color: white;
    margin-top: 297px;
}

.banner__wrapper-subheading {
    color: var(--primary-color);
    width: 374px;
    text-align: start;
    margin-top: 34px;
    font-weight: 100;
}

.banner__section {
    flex: 0.8;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

@media (max-width: 840px) {
    .banner__section {
        flex: none;
    }

    .banner__wrapper-heading {
        font-size: 36px;
        text-align: center;
        font-size: 50px;
    }

    .banner__wrapper-subheading {
        font-size: 22px;
        width: fit-content;
        padding-left: 20px;
        padding-right: 20px;
        word-wrap: normal;
    }
}

.banner__wrapper section:last-child {
    display: flex;
    color: var(--primary-color);
    align-items: center;
    gap: 10px;
    margin-bottom: 79px;
}

.banner__wrapper section>div {
    height: 40px;
    border-radius: 50px;
    border: 2px solid var(--primary-color);
    width: 22px;
    position: relative;
    margin-bottom: 24px;
}

.banner__wrapper section>div::before {
    content: '';
    width: 3px;
    height: 9px;
    background-color: var(--primary-color);
    position: absolute;
    border-radius: 50px;
    top: 5px;
    left: 50%;
    transform: translateX(-50%);
    animation: scroll 2s infinite;
}

.banner__wrapper-more {
    font-size: 9px;
    font-weight: 400;
    letter-spacing: 0.34em;
}

@media(max-width:500px) {
    .banner__wrapper-heading {
        font-weight: 700;
        width: 100%;
        font-size: 40px;
        color: var(--primary-color);
        margin-top: 147px;
        color: white;
    }
    .banner__wrapper-subheading{
        text-align: center;
    }
    .banner__wrapper section:last-child{
        margin-bottom: 105px;
    }
}

.banner {
    height: 680px;
    max-height: 751px;
    background-size: cover;
    position: relative;
    z-index: 1;
    color: var(--primary-color);
}

@media (max-width: 500px) {
    .banner {
        height: 680px;
    }
}

.services__overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    z-index: -1;
}

.service__banner-wrapper {
    padding-left: 172px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 90%;
}


@media (max-width:850px) {
    .service__banner-wrapper {
        padding-left: 20px;
    }
}

@media (max-width: 500px) {
    .service__banner-wrapper {
        padding-left: 15px;
    }
}

@media (max-width: 500px) {
    .service__banner-wrapper {
        height: 95%;
    }
}

.service__banner-date {
    background-color: var(--color-accent);
    color: var(--primary-color);
    border-radius: 7px;
    padding: 6px 15px;
    width: fit-content;
    margin-bottom: 15px;
    text-transform: uppercase;
}

.services__banner-heading {
    font-size: 63px;
    font-weight: bold;
    text-transform: uppercase;
}

@media (max-width: 500px) {
    .services__banner-heading {
        font-size: 40px;
    }
}

@media (max-width:280px){
    .services__banner-heading {
        font-size: 33px;
    }
}

.services__banner-heading span {
    font-size: 20px;
}

.services__banner-location {
    text-transform: uppercase;
    font-weight: 400;
    font-size: 19px;
    font-family: emoji;
    margin-bottom: 35px;
}

.service__banner-price {
    font-weight: 700;
    font-size: 27px;
    margin-top: 13px;
}

.service__banner-price span {
    font-weight: 400;
    font-size: 23px;
}

.service__banner-package-wrapper {
    margin-bottom: 65px;
    display: flex;
    column-gap: 23px;
    flex-wrap: wrap;
    row-gap: 20px;

}

@media (max-width: 500px) {
    .service__banner-package-wrapper {
        flex-direction: column;
        row-gap: 20px;
    }
}

.service__banner-package-wrapper label {
    display: block;
    margin-bottom: 7px;
    font-size: 13px;
    font-weight: 400;
}

.service__banner-package-person {
    display: flex;
    flex-direction: column;
}

.service__banner-package-select label{
    flex: 0 0 260px;
}

.service__banner-package-select select{
    cursor: pointer;
}

.service__banner-package-person input::-webkit-outer-spin-button,
.service__banner-package-person input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.service__banner-package-person input[type=number] {
    -moz-appearance: textfield;
}

.service__banner-package-person input {
    height: 100%;
    background-color: transparent;
    outline: transparent;
    border: 1px solid var(--primary-color);
    border-radius: 7px;
    caret-color: var(--primary-color);
    text-align: center;
    width: 108px;
    color: var(--primary-color);
    height: 41.6px;
}

.service__banner-package-wrapper button {
    border: none;
    outline: transparent;
    height: 45px;
    width: 147px;
    border-radius: 7px;
    align-self: flex-end;
    background-color: var(--color-accent);
    color: var(--primary-color);
    font-weight: 700;
    font-size: 16px;
    cursor: pointer;
    align-self: flex-end;
}

.service__banner-package-select select{
    border: 1px solid var(--primary-color);
    width: 227px;
    padding: 10px 16px;
    border-radius: 7px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    color: white;
}

.service__banner-package-select option{
    color: #666;
}

@media (max-width: 500px) {
    .service__banner-package-person input {
        height: 45px;
    }

    .service__banner-package-wrapper button {
        align-self: flex-start;
    }
    .banner__section h3{
        font-size: 13px;
    margin-bottom: 23px;
    }
    .service__banner-package-wrapper button{
        width: 302px !important;
    }
    .service__banner-package-person input{
        width: 300px !important;
    }
    .service__banner-package-select select{
        width: 300px !important;
    }
    .banner__wrapper-heading{
        margin-top: 218px;
    }
    .banner__wrapper-subheading{
        margin-top: 0px !important;
    }
    .service__banner-package-wrapper{
        margin-top: 0px !important;
    }

}

@media (min-width: 1500px) {
    .service__banner-wrapper {
        max-width: 1074px;
        margin-left: auto;
        margin-right: auto;
        padding-left: 0px;
    }
}

@media(max-width:768px){
    .service__banner-package-wrapper{
        display: grid;
        margin-top: 35px;
    }
    .service__banner-package-select select{
        width: 345px;
    }
    .service__banner-package-person input{
        width: 345px;
    }
    .service__banner-package-wrapper button{
        width: 345px;
    }
}


.banner__section button{
    font-size: 17px;
    height: 100%;
    padding: 16px;
    border-radius: 14px;
    background-color: #00000045;
    color: white;
}

 */

.banner_container {
  display: grid;
  grid-template-columns: 54% 47%;
  /* background-color: rgb(255, 255, 255); */
  margin-top: 77px;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
}

.banner_info {
    padding: 47px;
    margin-top: -116px;
    background-image: url("../../../assets/graph1.png");
    background-size: 101%;
    background-position: -26px -59px;
}

.banner_info h1 {
    margin-top: 30%;
    /* background: -webkit-linear-gradient(#00ecbc, #333); */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    line-height: 1.2;
    overflow: hidden;
    font-size: 55px;
    /* font-family: 'Montserrat', sans-serif; */
    font-weight: 900;
    background-image: var( --theme-color);
}

.banner_info h3 {
    font-size: 20px;
    margin-top: 5px;
    line-height: 1.5;
    font-weight: normal;
    width: 90%;
    margin-right: auto;
    color: #ffffffb5;
    background-color: transparent;
}

.banner_video {
  overflow-y: hidden;
  margin-top: -73px;
  /* margin-bottom: 64px; */
}

.banner_video video {
  width: 100%;
}

.banner_info button {
    width: 140px;
    padding: 17px;
    font-size: 14px;
    margin-top: 45px;
    background-color: black;
    background: var( --theme-color);
    border-radius: 5px;
    border: none;
    font-weight: 700;
    background-image: var( --theme-color);
}

.banner_info a {
    text-decoration: none;
    color: var( --primary-color);
    background-color: transparent;
}

/* model-viewer */

.slider_container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 75vh;
  max-width: 69%;
  margin-left: auto;
  margin-right: auto;
  gap: 138px;
}

.buttons {
  display: grid;
  /* justify-content: center;
    margin-top: 20px; */
}

.buttons button {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 84px;
  height: 82px;
  margin: 10px;
  cursor: pointer;
  border-radius: 52px;
}

#viewer {
  width: 800px;
  height: 85%;
}

model-viewer {
  width: 800px;
}

@media (max-width: 925px) {
  .banner_container {
    display: block;
  }
  .banner_info h1 {
    margin-top: 25%;
  }
  .banner_video {
    margin-top: 10px;
  }
  .banner_video video {
    width: 100%;
}
}

@media (max-width: 500px) {
  .banner_container {
    display: block;
  }
  .banner_info {
    padding: 15px;
        margin-top: -116px;
        background-image: url('../../../assets/graph2.png');
        background-size: 142%;
        background-position: -56px -361px;    
  }
  .banner_info h1 {
    margin-top: 157px !important;
    font-size: 40px !important;
  }
  .banner_video {
    padding: 15px;
    margin-top: 0px;
    margin-bottom: 25px;
  }
  .banner_video video{
    width: 100%;
  }
  .banner_info h3 {
    font-size: 18px;
    line-height: 1.5;
    margin-top: -10px;
    width:auto;
  }
  .banner_info button{
    margin-top:23px;
  }
}
