.terms-and-conditions{
    color: white;
    margin-top: 140px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.terms-head {
    text-align: center;
}

.terms-head h1{
    font-size: 57px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: var(--theme-color);
    font-family: "Roboto", sans-serif;  
}

.terms-head p{
    font-size: 20px;
    font-family: "Roboto", sans-serif;
    margin-bottom: 100px;
}

.terms h4{
    font-size: 37px;
    margin-bottom: 20px;
    font-family: "Roboto", sans-serif;  
}

.terms p{
    font-size: 19px;
    line-height: 29px;
    font-weight: 100;
    margin-bottom: 70px;
    font-family: "Roboto", sans-serif;  
}

.terms-head a{
    color: rgb(176, 176, 176);
}

.terms a{
    color: rgb(176, 176, 176);
}



@media(max-width:768px){
    .terms-head h1 {
        font-size: 47px;
    }
    .terms h4 {
        font-size: 20px;
    }
    .terms p {
        font-size: 16px;
    }
    .terms-head p {
        font-size: 20px;
        font-family: "Roboto", sans-serif;
        margin-bottom: 75px;
        margin-top: 20px;
    }
    .terms-head h1 {
        font-size: 47px;
        margin-top: -39px;
    }
}

@media(min-width:1600px){
    .terms-and-conditions{
        max-width: 59%;
        margin-left: auto;
        margin-right: auto;
    }
}