.furniture_top_text {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 170px;
}

.furniture_top_text h2 {
  font-size: 57px;
  font-weight: 600;
  text-align: center;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: var(--theme-color);
  font-family: "Roboto", sans-serif;
}

.furniture_top_text p {
  color: white;
  font-size: 19px;
  line-height: 29px;
  font-weight: 500;
  text-align: center;
  font-family: "Roboto", sans-serif;
  margin-bottom: 50px;
}

.furniture_sub_text {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 170px;
}

.furniture_sub_text h2 {
  font-size: 50px;
  font-weight: 600;
  text-align: center;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: var(--theme-color);
  font-family: "Roboto", sans-serif;
}

.furniture_sub_text p {
  color: white;
  font-size: 19px;
  line-height: 29px;
  font-weight: 500;
  text-align: center;
  font-family: "Roboto", sans-serif;
  margin-bottom: 54px;
}

.furniture_video {
  width: 85%;
  margin-left: auto;
  margin-right: auto;
}

.furniture2_img {
  width: 85%;
  margin-left: auto;
  margin-right: auto;
}


.furniture_video img {
  width: 100%;
}

.furniture2_img img {
  width: 100%;
  border-radius: 15px;
}


.furniture_industry_text h2 {
  font-size: 35px;
  color: white;
  text-align: center;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

.furniture_industry {
  margin-top: 195px;
}

.furniture_grid_sec1 h4 {
  font-size: 23px;
  font-weight: 600;
  line-height: 29px;
  color: white;
  font-family: "Roboto", sans-serif;
  margin-top: 20px;
}

.furniture_grid_sec1 p {
  color: white;
  font-size: 19px;
  line-height: 29px;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
  margin-top: 20px;
}

.furniture_grid_section{
    display: grid;
    grid-template-columns: 32% 32% 32%;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    gap: 21px;
    row-gap: 117px;
    margin-top: 123px;
}

.furniture_grid_sec1 img{
    width: 95%;
    border-radius: 15px;
}

.furniture_industry{
    background: linear-gradient(
        336deg,
        rgba(0, 122, 223, 0) 26.88%,
        #070b28 26.89%,
        #007adf 119.35%
      );
    
}

.furniture_absolute span{
font-weight: 600;
}


.furniture_bottom_section{
position: relative;
}

.furniture_absolute {
  font-size: 48px;
  font-weight: 400;
  color: black;
  position: absolute;
  top: 33%;
  left: 151px;
  width: 50%;
}

.furniture_bottom_content{
  font-size: 40px;
  font-weight: 600;
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 91px;
  margin-bottom: 142px;
  color: white;
  text-align: center;
}


.furniture_bottom_section{
  background: linear-gradient(
    156deg,
    rgba(0, 122, 223, 0) 26.88%,
    #070b28 26.89%,
    #00ECBC 119.35%
    );
}


.fur_bottom_sec h3{
margin-top: 116px;
color: white;
font-size: 50px;
font-weight: 600;
text-align: center;
}

.fur_bottom_sec p{
  margin-top: 30px;
  margin-bottom: 70px;
  color: white;
  font-size: 20px;
  font-weight: 400;
  text-align: center;
}

.fur_bottom_sec{
  margin-left: auto;
  margin-right: 85%;
  margin-right: auto;
  width: 85%;
}

.fur_bottom_sec h3{
width: 93%;
margin-left: auto;
margin-right: auto;
}

.fur_bottom_sec p{
  width: 83%;
  margin-left: auto;
  margin-right: auto;
}



@media(max-width:500px){
    .furniture_top_text {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 170px;
        font-family: "Roboto", sans-serif;
        margin-top: 90px;
    }
    .furniture_top_text h2 {
        font-size: 35px;
        font-weight: 600;
        font-family: "Roboto", sans-serif;
        text-align: start;
    }
    .furniture_top_text p {
        color: white;
        text-align: start;
        font-size: 18px;
        margin-top: 20px;
        font-family: "Roboto", sans-serif;
    }
    .furniture_sub_text h2 {
        font-size: 32px;
        font-weight: 600;
        margin-top: -92px;
        text-align: start;
        font-family: "Roboto", sans-serif;
    }
    .furniture_sub_text {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 211px;
    }
    .furniture_sub_text p {
        color: white;
        margin-top: 8px;
        text-align: start;
        font-size: 18px;
    }
    .furniture_grid_section{
      display: block;
      margin-top: 57px;
    }

    .furniture_industry_text h2 {
      font-size: 27px;
      color: white;
      text-align: center;
      width: 90%;
      margin-left: auto;
      margin-right: auto;
  }

  .furniture_grid_sec1{
    margin-top: 57px;
  }

  .furniture_grid_section {
    display: grid;
}
.furniture_grid_section{
  display: block;
}

.furniture_absolute {
  font-size: 17px;
  font-weight: 400;
  color: black;
  position: absolute;
  top: 27%;
  left: 50px;
  width: 68%;
}
.fur_bottom_sec h3 {
  margin-top: 87px;
  color: white;
  font-size: 32px;
  text-align: start;
}
.furniture_industry {
  margin-top: 70px;
}
.furniture_bottom_content {
  margin-top: 55px;
}
.furniture_bottom_content {
  font-size: 23px;
  text-align: start;
  margin-bottom: 0px;
}
.fur_bottom_sec p {
  text-align: start;
  line-height: 26px;
  font-size: 18px;
}
.fur_bottom_sec h3 {
  width: 95%;
  margin-left: auto;
  margin-right: auto;
}
.fur_bottom_sec p {
  width: 95%;
  margin-left: auto;
  margin-right: auto;
}
}


@media(min-width:442px) and (max-width:768px){
  .furniture_absolute {
    font-size: 30px;
    font-weight: 400;
    color: black;
    position: absolute;
    top: 28%;
    left: 85px;
    width: 50%;
  }
  .furniture_grid_section {
    display: grid;
    grid-template-columns: 50% 50%;
}
}


@media(min-width:789px) and (max-width:1024px){
  .furniture_absolute {
    top: 24%;
    left: 89px;
    width: 55%;
    font-size: 36px;
}
}