:root {
    --primary-color: #fff;
    --secondary-color: #000000;
    --theme-color:linear-gradient(to bottom right, #007adf, #00ecbc);
    --color-accent: #070b28;
    --shady-color: #ffffffbf;
    --line-color: #ffffff45;
}
